$color-green: #0D606F;
$color-white: #FFFFFF;
$color-orange:  #F2785C;
$color-icons-footer: #F8F8F8;

$color-sign: #1877F2;
$color-popup: rgba(255, 255, 255, 1);

$content-width: 1200px;
$mobile-width: 390px;
$content-mobile-width: 360px;
