.stories {
    background: url('/assets/img/story__bg.jpg') 0 90px/100% 100% no-repeat;
    height: 1421px;
}

.stories__wrapper {
    background: $color-white 0 0/100% 100%;
    opacity: 0.7;
    height: 1401px;
}

.stories-container {
    padding-top: 40px;
    padding-bottom: 40px;

}

.story__title {
    margin: 0;
    margin-bottom: 24px;
}
.story__description {
    margin: 0;
    @extend %font-add;
    @include font(20px, 24px, 400, $color-green)
}
.story__link {
    @extend %font-add;
    @include font(20px, 24px, 700, $color-green)
}

.story__button {
    margin: 0 auto;
}